{{#if mainContent.homepage}}
    {{>homepage mainContent.homepage}}
{{/if}}
{{#each mainContent.modules}}

    {{#if this.title}}
        <div class="row clearfix">
            {{this.title}}
        </div>
    {{/if}}
    {{#if this.content}}
        <div cass="row">
            {{{this.content}}}
        </div>
    {{/if}}

{{/each}}