{{#if page.mainContent.hero}}
    {{>homepage page.mainContent.hero}}
{{/if}}
{{#each page.mainContent.modules}}

    {{#if this.title}}
        <div class="row clearfix">
            {{this.title}}
        </div>
    {{/if}}
    {{#if this.content}}
        <div cass="row">
            {{{this.content}}}
        </div>
    {{/if}}
    {{#if this.collection}}
        {{>list collection=this.collection}}
    {{/if}}

{{/each}}