<div class="header">
    <div class="row">
        <div class="col-md-12">
            <h1>Tate Gallery</h1>
            <span class="sub-heading">Advanced Search</span>
            <div class="row filter">
                <input class="form-control" type="text" id="search" placeholder="Search.." />
                    <!--{{#each properties}}-->
                <!--<p>Hello: {{this}}</p>-->
                    <!--{{/each}}-->
                <button type="button" data-sort="order:asc">Ascending</button>
                <button type="button" data-sort="order:descending">Descending</button>
                <button type="button" data-sort="random">Random</button>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="col-md-12 text-center">
        <div class="container" data-ref="container" id="collage">

        </div>
    </div>
</div>

<div id="full-size">

</div>