<div id="full-screen" style="background-image: url({{object.bg}});">

</div>
<div id="scroller">
    {{#each objects}}
        <div class="row">
            <div class="col-md-3 hovernail imgBox" data-bg="{{this.thumbnail}}">
                {{#if this.thumbnail}}
                    <img src="{{this.thumbnail}}" class="thumbnail" />
                {{else}}
                    <img src="/img/no_image.gif" alt="No image" />
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>
