<nav class="top-nav lightMuted">
    <ul>
        <li class="brand"><img src="/img/logo.png" /></li>
        <li class="nav-item lightMuted"><a href="#">About</a></li>
        <li class="nav-item lightMuted"><a href="#">Artists</a></li>
        <li class="nav-item lightMuted"><a href="#">Art</a></li>
        <li class="nav-item lightMuted active"><a href="#">Home</a></li>
    </ul>
</nav>