<div class="container content">
    <div class="row">
        {{#if page.sidebarLeft}}
            <div class="col-md-3">
                {{>sidebarLeft}}
            </div>
        {{/if}}
        {{#if page.mainContent}}
            <div class="{{#if page.sidebarLeft}}col-md-6{{/if}}{{#unless page.sidebarLeft}}col-md-12{{/unless}}">
                {{>mainContent}}
            </div>
        {{else}}
            <p>No Content</p>
        {{/if}}

        {{#if page.sidebarRight}}
            <div class="col-md-3">
                {{>sidebarRight}}
            </div>
        {{/if}}
    </div>
</div>