<h1>Pages</h1>
{{#each pages}}
    <ul>
        <li><a href="/page/{{this._id}}">{{this.title}}</a>
            {{#each this.modules}}
                <ul>
                    <li>HEre is modules</li>
                    <li>{{this.title}}</li>
                    <li>{{this.content}}</li>
                </ul>
            {{/each}}
        </li>
    </ul>
{{/each}}