html {
    font-size: 1em;
}

html, body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color:#222;
    overflow:auto;
    color: #aaa;
}

a{
    text-decoration:none;
    color:#2A5DB0;
}

.sub-heading{
    position:relative;
    top:-20px;
    color:#666;
}

.content{
    height:100vh;
}

#load-more{
    margin-top:20px;
    display:inline-block;
    text-align: center;
}


.credit-line {
    text-align: center;
    color: #555;
}

#menu, #details{
    transition: all 0.8s;
}
.left-closed{
    margin-left:-2000px;
}
.right-closed{
    margin-right:-2000px;
}

#open-details{
    position:fixed;
    bottom:50px;
    right:50px;
}

.hovernails{
    margin-left:-30px;
}

.hovernails {
    line-height: 0;
    -webkit-column-count: 12;
    -webkit-column-gap:   0;
    -moz-column-count:    12;
    -moz-column-gap:      0;
    column-count:         12;
    column-gap:           0;
    overflow:hidden;
}

.hovernails img {
    max-width:100px;
    border:0 solid transparent;
    background: transparent;
    z-index:99;
}

.hovernails img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#full-size{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(20,20,20,0.7);
    z-index:9999;
    display:none;
    text-align: center;
}

#full-size img{
    max-width:100vw;
    max-height:100vh;
}



/* ==========================================================================
   Footer
   ========================================================================== */

.footer p{
    text-align:center;
    color:#222;
    font-size:0.8em;
}

.footer p a{
    color:#222;
}

footer p a:hover{
    color:#666;
}

.footer{
    margin-top:60px;
}

.copyright{
    text-align:center;
}

.thumbnails{
    border-right:2px solid #fefefe;
}

/* ==========================================================================
   Button styles
   ========================================================================== */

.btn {
    transition:all 0.2s
}

/* ==========================================================================
   Helpers
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.left{
    float:left;
}

.right{
    float:right;
}
