html {
    color: #333;
    font-size: 1em;
}

html, body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration:none;
    color:#2A5DB0;
}


.content{
    min-height:400px;
    margin-top:100px;
}

.navbar{
    background-color:#fefefe;
    border-bottom:1px solid #999;
}


/* ==========================================================================
   Navigation
   ========================================================================== */

.navbar{
    padding:10px;
}

.navbar-nav{
    float:right;
}

.navbar img{
    max-height:50px;
    margin-top:-15px;
}

.navbar ul {
    overflow: auto;
    list-style-type: none;
    margin:0;
}

.navbar ul li {
    border-left: 1px solid #aaa;
}

.navbar ul li:last-child {
    border-right: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
}

.navbar ul li a:hover {
    color: #666;
}


/* ==========================================================================
   Full Screen Homepage
   ========================================================================== */

#full-screen{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover!important;
    background-size: cover !important;
    min-height: 120%;
    min-width: 120%;
    width: 120%;
    height: auto;
    position: fixed;
    top: -50px;
    left: -25px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    z-index:-999;
}

#homepage-main{
    background-color:rgba(255,255,255,0.80);
    margin-top:100px;
    border: 1px solid #999;
    min-height:300px;
    width:100%;
}

#homepage-main > div{
    padding:30px;
}

#homepage-main img{
    border:1px solid #222;
    max-width:250px;
    max-height:250px;
}

#homepage-main h1{
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.8);
}

#homepage-main ul{
    list-style-type: square;
}


.credit-line {
    text-align: center;
    color: #555;
}


/* ==========================================================================
   Footer
   ========================================================================== */

.footer p{
    text-align:center;
    color:#222;
    font-size:0.8em;
}

.footer p a{
    color:#222;
}

footer p a:hover{
    color:#666;
}

.footer{
    margin-top:60px;
}

.copyright{
    text-align:center;
}

/* ==========================================================================
   Button styles
   ========================================================================== */

.btn {
    transition:all 0.2s
}

/* ==========================================================================
   Helpers
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.left{
    float:left;
}

.right{
    float:right;
}
