<div class="row">
    <h2>Mapping</h2>
    <form>
        <fieldset>
            <h4>Schema</h4>
            <br>
            <div class="form-group row">
                <label class="col-md-2">Collection Name:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <hr>
            <h4>Object Property Mapping</h4>
            <br>
            <div class="form-group row">
                <label class="col-md-2">Title:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">Url:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">Thumbnail Url:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">Fullsize Url:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">Date:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <hr>
            <h4>Custom Fields</h4>
            <br>

            <div id="customFields">

            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="button" onclick="addCustomField()">Add Field</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="pull-right btn btn-default" type="submit">Save</button>
                </div>
            </div>


        </fieldset>
    </form>
</div>


