<div class="row">
    <form action="/config/" method="post">
        <fieldset>
            <div class="form-group row">
                <div class="col-md-12">
                    <label>Collection Name:</label>
                    <input class="form-control" name="collectionName" type="text" value="{{schema.collectionName}}" required />
                    <p class="form-text text-muted">
                        The name of the mongoDb collection.
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>Title:</label>
                    <input class="form-control" name="title" value="{{schema.title}}" type="text" required />
                    <p class="form-text text-muted">
                        The property you wish to represent the objects Title
                    </p>
                </div>
                <div class="col-md-6">
                    <label>Url:</label>
                    <input class="form-control" name="url" value="{{schema.url}}" type="text" />
                    <p class="form-text text-muted">
                        Link to the external object
                    </p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Thumbnail Url:</label>

                    <input class="form-control" name="thumbnail" type="text" />
                    <p class="form-text text-muted">
                        Url for the thumbnail image
                    </p>
                </div>
                <div class="col-md-6">
                    <label>Full Size Url:</label>
                    <input class="form-control" name="fullSize" type="text" />
                    <p class="form-text text-muted">
                        Url for the fullsize image
                    </p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Date:</label>
                    <input class="form-control" name="date" type="text" />
                    <p class="form-text text-muted">
                        Object property you wish to represent the date
                    </p>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-md-12">
                    <h4>Custom Fields</h4>
                    <p class="form-text text-muted">
                        Free Type fields. Map the label (visible in the view) to the property which contains the value
                    </p>
                </div>
            </div>

            <div id="customFields">

            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="button" onclick="addCustomField()">Add Field</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="pull-right btn btn-primary" type="submit">Save Settings</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>


